Saved/AutoScreenshot.png
Saved/Config/CrashReportClient/UECC-Windows-9FDBFF5342995CB8509AC18381DEC9C9/CrashReportClient.ini
Saved/Logs/Bloodstar.log
Saved/Logs/Bloodstar-backup-2025.09.01-18.55.31.log
